@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/puzzle2.jpg) repeat, #333;
    color: #FFF;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 16px;
}

#game-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 20px auto;
    gap: 20px;
}


.puzzle-pieces {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.puzzle-piece {
    width: 40%;
    display: block;
    padding: 8px;
    cursor: grab;
}

.puzzle-piece:nth-child(even) {
    margin-left: auto;
}


.puzzle-board {
    width: 600px;
    height: 400px;
    background: url('../images/backGround0.jpg') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
    border: medium solid #333;
    margin-bottom: 65px;
}

.drop-zone {
    width: 50%;
    height: 50%;
    position: relative;
}

.drop-zone img {
    padding: 0;
    position: absolute;
    width: 90%;
}


.drop-zone[data-position="top-left"] img { right: 0; bottom: 0; }
.drop-zone[data-position="top-right"] img { bottom: 0; }
.drop-zone[data-position="bottom-left"] img { right: 0; }


header {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

header h1 {
    font-size: 3.25em;
    letter-spacing: 3px;
    margin: 10px 0;
}

header p, footer p { 
    font-size: 1.7em; 
    letter-spacing: 2px; 
    margin: 10px 0;
}


footer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}


#thumbnail-container {
    text-align: center;
}

#thumbnail-container img {
    margin: 0 5px;
    border-radius: 20px;
    border: thin solid #333;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#thumbnail-container img:hover {
    opacity: 0.5;
}
